<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<cataloginventory>
			<sftp>
				<hostname/>
				<username/>
				<password backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
				<path>/</path>
			</sftp>
		</cataloginventory>
	</default>
</config>
