<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Empisoft\InventoryImport\Api\ConnectionInterface" type="Empisoft\InventoryImport\Connection\Sftp" />
    <preference for="Empisoft\InventoryImport\Api\AdapterListInterface" type="Empisoft\InventoryImport\Model\Import\AdapterList" />
    <preference for="Empisoft\InventoryImport\Api\StockImportInterface" type="Empisoft\InventoryImport\Model\StockImportBasic" />

    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="cataloginventory/sftp/password" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="empisoft_import_products" xsi:type="object">Empisoft\InventoryImport\Console\Command\ImportStock</item>
            </argument>
        </arguments>
    </type>

    <type name="Empisoft\InventoryImport\Model\Import\AdapterList">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="empisoft_csv_adapter" xsi:type="object">Empisoft\InventoryImport\Model\Import\Source\CsvFactory</item>
                <item name="empisoft_xml_adapter" xsi:type="object">Empisoft\InventoryImport\Model\Import\Source\XmlFactory</item>
            </argument>
        </arguments>
    </type>
</config>
