<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_customer_authenticated">
        <observer name="check_if_customer_is_activated" instance="Empisoft\Customer\Observer\CustomerAuthenticatedEventObserver" />
    </event>
</config>
